
/* 2. MAIN */

/* 2.A CAROUSEL */



/* .carouselTexto{
    position: absolute;
    left: 50%;
    top: 25%;
    color: #FFF;
    width: 40%;
    font-size: 1.49rem;
    text-align: right;
} */

/* .carouselTexto h2{
    font-size: 2.5rem;
} */

/* 2.B CARDS */

/* .tituloCardGroup{
text-align: center;
margin: 1rem 0 1rem;
}

p.encabezado{
    height: 0.1rem;
    font-size: 1rem;
}

p.oradores{
    height: 1rem;
    font-size: 2rem;
    font-weight: 600;
} */

/* 
.cardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center
} */
/* 
.card-group{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    margin: 0 1.2rem 0;
}

.card h5{
    font-size: 1.7rem;
    margin: 1rem 0;
}

.card p{
    font-size: 1.1rem;
}

span.tag{
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.1rem 0.25rem;
    margin-right: 0.1rem;
} */


/* Card con imagen */

/* .cardConImagen{
    margin: 1.5rem 0rem;
}

.cardDerecha{
    color: #FFF;
    background-color: #353A40;
} */


/* Formulario */

.contenedorFormulario{
    width: 50%;
}

.anotate{
    margin-top: 2rem;
}


.btn.form-control{
    background-color: #96C93E;
    width: 50%;
    position: relative;
    left: 25%;
    color: #FFF;
    margin-bottom: 2rem;
}


